<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utylo.medmanager">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.hardware.CAMERA"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">


    </activity>

        <receiver android:name=".background.MyBroadcastReceiver" />


        <receiver android:name=".background.MyBroadcastReceiver" />

    <activity
        android:name=".activity.AddMedicationActivity"
        android:label="@string/title_activity_add_medication"
        android:parentActivityName=".activity.MainActivity"
        android:theme="@style/AppTheme" />
    <activity
        android:name=".activity.SignupActivity"
        android:theme="@style/MyMaterialTheme" />
    <activity
        android:name=".activity.LoginActivity"
        android:theme="@style/MyMaterialTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".activity.ResetPasswordActivity"
        android:theme="@style/MyMaterialTheme" />
    // add services to manifest
    <service
        android:name=".util.ReminderJobService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
        </intent-filter>
    </service>

        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/MyMaterialTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.utylo.medmanager.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PatientInfoActivity"
            android:label="@string/title_activity_edit_info"
            android:parentActivityName=".activity.ProfileActivity"
            android:theme="@style/MyMaterialTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.utylo.medmanager.activity.ProfileActivity" />
        </activity>

    </application>

</manifest>